div#primera{
    width: 400px;
    height: 400px;
    background-color: pink;
}

div#segunda{
    width: 50%;
    height: 50%;
    background-color: aqua;
}

div#tercera{
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
}


div#cuarta{
    width: 50%;
    height: 50%;
    background-color: pink;
}