*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#contenedor{
    width: 100%;
    height: 1000px;
    margin: auto;
}

header{
    width: 100%;
    height: 10%;
    background-color: rgb(149, 255, 255);
}

h2{
    margin-bottom: 30px;
}

div#columnaIzquierda{
    width: 20%;
    background-color: pink;
    float:left;
    height: 30%;

}

div#columnaDerecha{
    width: 80%;
    background-color: rgb(255, 218, 231) ;
    float: right;
    height: 30%;
    text-align: center;

    overflow: auto  ;
}

/* Navbar styles */

nav ul{
    list-style-type: none;
    width: 100%;
}

nav li a {
    display: block;
    width: 60px;
    width: 100%;
}

nav li a:hover {
    background-color: rgb(149, 255, 255);
}

img .center {
    margin:auto;
    margin: 200px;
}


