p {
    background-color: gray;
    color: blue;
    border: 2px solid black;
}

p.amarillo{
    background-color: yellow;
}

p#seis{
    font-size: 2em;
    background-color: yellow;
}




/*
p:nth-child(even){
    background-color: yellow;
}

p:nth-child(6){
    font-size: 2em;
}

p:nth-child(8){
    background-color: gray;
}
*/


